version: 2
jobs:
  build:
    environment:
      IMAGE_NAME: prashanthsams/json-server
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build application docker image
          command: |
            docker build  -t json-server  .
      - run:
          name: Validating the test results
          command: |
            docker run -i json-server  > result
            sh -c "[ -s result ]"
  publish-latest:
    environment:
      IMAGE_NAME: prashanthsams/json-server
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - setup_remote_docker
      - run:
          name: Publish Docker Image
          command: |
                  echo "${DOCKERHUB_PASSWORD}" | docker login --username "${DOCKERHUB_USERNAME}" --password-stdin
                  docker push $IMAGE_NAME:latest

workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - publish-latest:
          requires:
            - build
          filters:
            branches:
              only: master